<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <title>Sugoroku</title>
</head>
<body>
  <div id="app">
    <h1>ワンピースすごろく</h1>
    <table class="table table-bordered mt-4">
      <tbody>
        <tr class="table-success">
          <td>現在のターン</td>
          <td>{{ isPlayerTurn ? "プレイヤー" : "CPU"}}</td>
        </tr>
        <tr class="table-primary">
          <td>プレイヤーの位置</td>
          <td>{{ playerPosition }}</td>
        </tr>
        <tr class="table-secondary">
          <td>CPUの位置</td>
          <td>{{ cpuPosition }}</td>
        </tr>
        <tr class="table-info">
          <td>{{ isPlayerTurn ? "プレイヤー" : "CPU"}}の出た目</td>
          <td>{{ dice }}</td>
        </tr>
      </tbody>
    </table>
    <button v-if="isPlayerTurn && !isGameOver" @click="rollDice()" class="btn btn-primary">自分のターン</button>
    <button v-if="!isPlayerTurn && !isGameOver" @click="cpuRollDice()" class="btn btn-secondary">相手のターン</button>

    <div class="mt-3">
      <div v-for="cell in cells" :class="[`cell`, { events: events.includes(cell) }]">
        {{ cell }}
        <img v-for="character in characters" v-if="cell === character.position" :src="character.image" :alt="character.name">
      </div>
    </div>
  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>